@import url('https://fonts.googleapis.com/css?family=Cormorant&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
}
.container{
    padding-top: 30px;
    /* max-width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.padding-content{
    padding: 0 10% 0 10%;
}
.margin-content{
    margin: 0 10% 0 10%;
}
a{
    text-decoration: none;
}
.title_font{
    font-family: 'Cormorant', serif;
    font-size: 110%;
}
.rotate{
    transform: rotate(180deg);
}
button:disabled, button[disabled]{
    border: none;
    color: inherit;
}

.read_more{
    background: black;
    font-size: 0.8vw;
    border: none;
    outline: none;
    color: #fff;
    height: 50px;
    width: 162px;
    transition: all 0.4s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Cormorant', serif;
}
.read_more:hover{
    background: #bb9230;
}
/* TODO : STYLE BANNER */

.container--banner_ads{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.container--banner_button_prev{
    transform: transform(-100%);
    position: absolute;
    left: -60px;
    top: 50% + 21px;
}
.container--banner_button_next{
    position: absolute;
    right: -60px;
    top: 50% + 21px;
}

.container--banner_content_grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4px;
    position: absolute;
    top: 0;
    left: 0;
}
.hidden{
    opacity: 0;
}
.animation_apper{
    animation:  container--banner_content_slide 0.3s linear alternate;
    opacity: 1;
    z-index: 2;
}
.animation_remov{
    animation:  container--banner_content_slide_removed 0.3s linear alternate;
    opacity: 0;
    z-index: 1;
}
.animation_apper_feedback{
    animation:  container--banner_content_slide 0.3s linear alternate;
    opacity: 1;
}
.animation_remov_feedback{
    animation:  container--banner_content_slide_removed 0.3s linear alternate;
    opacity: 0;
}
.container--banner_content_grid_11{
    grid-row: auto/span 1;
    grid-column: auto/span 1;
}
.container--banner_content_grid_12{
    grid-row: auto/span 2;
}
.container--banner_content_grid_21{
    grid-column: auto/span 2;
}
.container--banner_content_grid_22{
    grid-row: auto/span 2;
    grid-column: auto/span 2;
}
.container--banner_content_grid img {
    width: 100%;
    height: auto;
}
div[class^="container--banner_button"] button{
    border: none;
    background: none;
    outline: none;
}
.container--banner_content_ads_item_text{
    background: url("../assets/home/ads/masonry-gallery-15.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-weight: 100;
    font-family: 'Cormorant', serif;
}
.container--banner_content_ads_item_text *{
    text-transform: uppercase;
}
.container--banner_content_ads_item_text h3{
    font-family: 'Cormorant', sans-serif;
    font-size: 0.8vw;
    color: #6d6d6d;
    margin-bottom: 15px;
}
.container--banner_content_ads_item_text h1{
    text-align: center;
    font-size: 1.6vw;
    margin-bottom: 15px;
    max-width: 350px;
}


/* TODO : FEED BACK */
.fa-star{
    color: #bb9230;
}
.container--banner_feedback {
    /* overflow: hidden; */
    position: relative;
    overflow: hidden;
}
.container--banner_feedback_ele{
    width: 100%;
    height: 480px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.container--banner_feedback_ele_bg{
    background: url('../assets/home/m-h-testimonial-background-2.jpg');
    background-size: cover;        
    background-repeat: no-repeat;
    background-position: center center; 
}
.feedback_comment{
    font-style: italic;
    font-size: 40px;
    width: 70%;
    text-align: center;
    margin-top: 40px;
}
.container--banner_feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.feedback_author{
    font-style: serif;
    font-size: 15px;
    margin-top: 40px;
}
.feedback_target{
    position: absolute;
    top: 78%;
}
.feedback_target_button{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 0;
    background: #d1d1d1;
}
.selected_feedback_button{
    background: black;
}

/* TODO : STORY BAKERY */
.container--story{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px !important;
}
.container--story_img{
    position: relative;
    width: 100%;
}
#baked_with_love{
    position: absolute;
    width: 100px;
    height: auto;
    top: -20px;
    right: -20px;
    transition: transform .5s;
}
.container--story_story{
    padding: 70px;
}
.container--story_img img{
    width: 100%;
    height: auto;
}
.container--story_story *{
    font-family: 'Cormorant', serif;
    margin-bottom: 22px;
}
.container--story h3{
    font-size: 200%;
}
.hidden_scale{
    transform: scale(0.1) rotate(10deg);
}
.zoom{
    transform: scale(1) rotate(10deg);
}
 /* ! RESPONSIVE MOBILE */
@media screen and (max-width: 680px) {
    .container--banner_content_grid{
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .container--banner_content_ads_item_text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .padding-content{
        padding: 0 10% 0 10%;
    }
    .margin-content{
        margin: 0 10% 0 10%;
    }
    .container--banner_content_grid *{
        width: 70%;
        height: auto;
    }
    .container--banner_content_ads_item_text h3{
        font-size: 1.6vw;
    }
    .container--banner_content_ads_item_text h1{
        font-size: 3.2vw;
    }
    .container--banner_content_ads_item_text button{
        font-size: 1.6vw;
    }


    /* TODO : FEEDBACK */
    .container--banner_feedback_ele_bg{
        background: url('../assets/home/m-h-testimonial-background-4.jpg');
        background-size: cover;        
        background-repeat: no-repeat;
        background-position: center center; 
    }
    .feedback_target{
        position: absolute;
        top: 90%;
    }
}

 /* ! RESPONSIVE TABLET */
@media screen and (max-width: 1032px) {
    div[class^="container--banner_button"] button{
        display: none;
    }
    .container--banner_content_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 4px;
    }

    /* TODO : FEEDBACK */
    .container--banner_feedback_ele_bg{
        background: url('../assets/home/m-h-testimonial-background-3-1.jpg');
        background-size: cover;        
        background-repeat: no-repeat;
        background-position: center center; 
    }
    .feedback_target{
        position: absolute;
        top: 80%;
    }
    /* TODO : STORY */
    .container--story{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 50px !important;
    }
    .container--story button{
        font-size: 15px;
    }
}

/* KEYFRAME ANIMATION */
@keyframes container--banner_content_slide{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

@keyframes container--banner_content_slide_removed{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}
