/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2019, 12:53:52 AM
    Author     : Duck
*/

*{
    margin: 0;
    padding: 0;
}
container .padding-content{
    padding: 0 10% 0 10%;
}
container .margin-content{
    margin: 0 10% 0 10%;
}
container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

container .list_products{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}
container .products_filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
container select{
    width: 250px;
    height: 43px;
    border: 1px solid gray;
}
container option{
    width: 250px;
    height: 43px;
}

container .products_list{
    display: grid;
    grid-template-columns : repeat(3, 33%);
    column-gap: 0.5%;
    row-gap: 10px;
    width: 100%;
}
container .products_list .each_product{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    object-fit: cover;
}
.product_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.button_add_cart{
    width: 90%;
    height: 20%;
    margin: 5%;
    z-index: 2;
    transition: all .2s ease-in-out!important;
    background-color: #fff;
    color: #000;
    letter-spacing: .15em;
    opacity: 0;
    border: none;
    outline: none;
}
.product_img:hover > .button_add_cart{
    opacity: 1;
}

.button_add_cart:hover{
    background: #bb9230;
    color: white;
}


container .list_catgories{
    width: 30%;
}


@media screen and (max-width: 680px) {
    
}

@media screen and (max-width: 1032px) {
    container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    container .products_filter{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    container .products_list{
        display: grid;
        grid-template-columns : repeat(2, 49%);
        column-gap: 1%;
        row-gap: 10px;
        width: 100%;
    }
}